.card{
	padding: 20px;
	display: flex;
	align-items: center;
	border-color: 1px solid red;
	box-shadow: 0px 10px 30px rgba(230, 230, 230, 0.6);
	justify-content: space-between;
	border-radius: 10px;
	margin: 10px;
	width: 420px
}
.card img{
	width: 50px;
	border-radius: 10px;
}
.card h3{
	font-size: 24px;
	flex-grow: 1;
	padding-left: 20px;
}
.cards{
	display: flex;
	grid-template-columns: 1fr/1fr/1fr;
	grid-gap: 10px;
	flex-wrap: wrap;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .cards {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .cards {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .cards {
    width: 300px;
  }

